/* 1 */
.ex-1-square:hover {
    transition: 3s;
    background-color: red;
}
/* 2 */
.ex-2-square:active {
    transition: 2s;
    width: 500px;
}
/* 3 */
.ex-3-square:hover {
    transition: 2s;
    border-radius: 50%;
}
/* 4 */
.ex-4-square:hover {
    transition: 2s;
    opacity: 0;
}
/* 5 */
.ex-5-square:hover {
    transform: scale(1.5);
}
.ex-5-square:active{
    transform: scale(0.5);
}
/* 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}
/* 7 */
.ex-7-img:hover {
    transition: 2s;
    filter: brightness(.6) blur(2px);
}
/* 8 */
.ex-8-img:hover {
    filter: saturate(200%) blur(1px);
    border-radius: 30px;
}
/* 9 */
.ex-9-img:hover{
    filter: sepia(.3) grayscale(1);
    border-radius: 30px;
    transform: scale(0.5);
}
/* 10 */
.ex-10-icon {
    animation: loading 3s linear infinite;
}
@keyframes loading {
    0%{
        transform: rotate(360deg);
    }
}
/* 11 */
.ex-11-icon:hover {
    animation: loading 3s linear infinite;
}
@keyframes loading {
    0%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0);
    }
}
/* 12 */
.ex-12-button:hover .ex-12-bottom-white{
    animation: bot 3s linear infinite;
}

.ex-12-button:hover .ex-12-top-white{
    animation: top 3s linear infinite;

}

@keyframes bot {
    0% {
        bottom: -10px;
        right: 10%;
    }
    50% {
        bottom: -10px;
        right: 60%;
    }
    100% {
        bottom: -10px;
        right: 10%;
    }

}
@keyframes top {
    0% {
        top: -10px;
        left: 10%;
    }
    50% {
        top: -10px;
        left: 60%;
    }
    100% {
        top: -10px;
        left: 10%;
    }

}

/* 13 */
.ex-13-button:hover .ex-13-top-white {
    animation: top13 4s;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: bot13 4s;
}

@keyframes top13{
    0%{
        top: -10px;
        left: 10%;
    }
    20%{
        top: -10px;
        left: 85%;
    }
    40%{
        top: 60px;
        left: 85%;
    }
    60%{
        top: 60px;
        left: -10px;
    }
    80%{
        top: -10px;
        left: -15%;
    }
    100%{
        top: -10px;
        left: 10%;
    }
}
@keyframes bot13{
    0%{
        bottom: -10px;
        right: 10%;
    }
    20%{
        bottom: -10px;
        right: 85%;
    }
    40%{
        bottom: 60px;
        right: 85%;
    }
    60%{
        bottom: 60px;
        right: -10px;
    }
    80%{
        bottom: -10px;
        right: -15%;
    }
    100%{
        bottom: -10px;
        right: 10%;
    }
}